# Ignore everything by default.
*

# Then add exceptions (mainly for the file picker in neovim to work).
!.config

# Git
!.config/git
!.config/git/commit.template
!.gitconfig
!.gitignore
!.gitmodules

# Helix
!.config/helix
!.config/helix/config.toml
!.config/helix/themes
!.config/helix/themes/*

# Nix
.config/nix
.config/nix/nix.co

# Nvim config
!.config/nvim
!.config/nvim/*
!.config/nvim/*/*
!.config/nvim/*/*/*
!.config/nvim/*/*/*/*

# Pip
!.config/pip
!.config/pip/pip.conf

# Tmux
!.config/tmux
!.config/tmux/tmux.conf

# ZSH config
!.zshrc
!.config/zsh
!.config/zsh/*
!.config/zsh/tools
!.config/zsh/tools/*

# GitHub CI
!.github
!.github/*

# GPG
!.gnupg
!.gnupg/gpg-agent.conf

# ssh
!.ssh
!.ssh/config

# Work specific dotfiles, used as a submodule.
!.config/hitachi-dotfiles
!.config/xc-dotfiles

# bat
!.config/bat
!.config/bat/config

# Keyboards layouts
!.config/keyboards
!.config/keyboards/7skb.layout.json

# Presenterm
!.config/presenterm
!.config/presenterm/config.yaml

# Nushell
!.config/nushell
!.config/nushell/config.nu
!.config/nushell/autoload
!.config/nushell/autoload/*

# Starship
!.config/starship
!.config/starship/*

# OpenCode
!.config/opencode
!.config/opencode/*
!.config/opencode/agent/
!.config/opencode/agent/*

# Bash scripts/commands
!.local
!.local/bin
!.local/bin/scripts
!.local/bin/scripts/*

# Other files
!.aspell.en.pws
!.editorconfig
!.env
!.p10k.zsh
!.pre-commit-config.yaml
!.spacemacs
!.vimrc
!.wezterm.lua
!.yamlfmt
!7skb.layout.json
!README.md
!.bashrc
