.dotfiles
.bash_history
.bash_logout
.bash_profile
.bashrc
.cache/
.config/
.emacs.d/
.gnupg/
.local/
.mozilla/
.oh-my-zsh/
.shell.pre-oh-my-zsh
.spacemacs.env
.ssh/
.viminfo
.wget-hsts
.zcompdump-11-11640799-5.9
.zcompdump-11-11640799-5.9.zwc
.zsh_history
.Xauthority
.actrc
.android/
.aspell.en.prepl
.cargo/
.erg/
.fonts.conf
.grip/
.gtkrc-2.0
.ipython/
.jupyter/
.mono/
.nix-channels
.npm/
.nv/
.pki/
.pyenv/
.python_history
.recently-used
.rustup/
.texlive/
.vim/
.zcompdump-9a419132b54a-5.9
.zcompdump-9a419132b54a-5.9.zwc
.zcompdump-hoel-5.9
.zcompdump-hoel-5.9.zwc
.tmux/
.keras/
.password-store/
Desktop/
go/
Downloads/
work/
work-hitachi/
mount
