.dotfiles
.bash_history
.bash_logout
.bash_profile
.bashrc
.cache/
.config/
.emacs.d/
.gnupg/
.local/
.mozilla/
.oh-my-zsh/
.shell.pre-oh-my-zsh
.spacemacs.env
.ssh/
.viminfo
.wget-hsts
.zcompdump-11-11640799-5.9
.zcompdump-11-11640799-5.9.zwc
.zsh_history
Downloads/
work/
