[submodule ".config/hitachi-dotfiles"]
	path = .config/hitachi-dotfiles
	url = git@github.com:hoel-bagard-hy/hitachi-dotfiles.git
	shallow = true

[submodule ".config/xc-dotfiles"]
	path = .config/xc-dotfiles
	url = git@github.com:hoel-bagard/xc-dotfiles.git
	shallow = true
